@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* Webkit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Make the track transparent */
}

::-webkit-scrollbar-thumb {
  background: #e0e0e0; 
  border-radius: 4px; /* Add rounded corners to the thumb */
}

* {
  color: #fff
}

main, footer, .main-navbar {
  max-width: 1920px; /* Cambia el valor según tu preferencia */
  margin: 0 auto; /* Centra el contenido en el centro de la página */
}

html {
  scrollbar-width: thin;
  scrollbar-color: #e0e0e0 transparent;
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #3DB9BE;
  font-family: "Roboto", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.light-background {
  background-color: rgba(255, 255, 255,.9);
}

.custom-background {
  /* background: linear-gradient(to bottom, white 20%, #3DB9BE 10%); */
  background: linear-gradient(to bottom, #3DB9BE 30%, white 10%);
}

.image-background {
  background-image: url('/banner-planes.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  /* z-index:-2; */
}

/* .image-background::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); 
} */

.image2-background {
  background-image: url('/banner-estadisticas.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  z-index:0;
}

.min-h-custom {
  height: 86vh;
  max-height: 920px;
}

.min-h-custom2 {
  height: 90vh;
  max-height: 1024px;
}

.min-h-subtitle {
  min-height: 120px;
}

.custom-max-h {
  max-height: 1024px;
}

.max-custom-width {
  max-width: 38rem;
}

.spacing-l {
  letter-spacing: 0.3rem;
}

.transform-rotate {
  transform: rotate(135deg);
}

.over-height {
  height: 105%;
}

.main-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-description {
  color: #004080;
  margin-bottom: 40px;
}

.main-description span {
  font-weight: 600;
}

.custom-max {
  max-width: 500px;
}

.custom-filter-color {
  /* green 
  filter: invert(99%) sepia(62%) saturate(1863%) hue-rotate(23deg)
            brightness(100%) contrast(101%); */
            filter: invert(32%) sepia(55%) saturate(1843%) hue-rotate(155deg) brightness(101%) contrast(101%);
}

.text-shadow {
  text-shadow: 2px 2px 1px #000000;
}